/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Varela', sans-serif; /* Sets Varela as the basic font for the webpage */
    scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
    background-color: #f4f4f4; /* Sets a light grey background for the entire page */
    flex: 1;
}


body {
    display: flex;
    flex-direction: column; /* Organizes the content in a vertical stack */
    min-height: 100vh; /* Minimum height to cover the full viewport */
}



main {
    flex: 1; /* Allows the main content to expand and take up available space */
}

/*  HEADER  */
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #f8f9fa;
}


.header-text {
    order: 2;
    text-align: right;
    padding-left: 20px;
}

.header-image img {
    margin-left: 20px;
    width: 400px;
    height: auto;
    border-radius: 5px;
}

/* Navigation */
.main-nav {
    background-color: #333;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    max-width: 960px;
}

.nav-item {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.nav-link {
    display: block;
    padding: 1% 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
    color: #ccc;
    background-color: transparent;
}

/*Styles for the page starts here*/

.project-info ul {
    list-style-position: inside; /* Ensures bullets stay inside the div */
    padding-left: 20px; /* Adds space inside the list */
    margin: 10px 0 10px 10px; /* Proper margin settings for visual comfort */
}
.project-info li {
    margin-bottom: 5px; /* Adds a little space between list items */
}

.project-info a {
    color: #1a0dab; /* Typical hyperlink blue */
    text-decoration: none; /* Removes underline from links */
}

.project-info a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
}

.project-gallery {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensures that child elements stretch to fill the width */
    padding: 20px 15vw; 
}

.project {
    width: calc(100% - 20px); /* Adjusts the width to account for the padding */
    margin: 10px auto; /* Centers the card and maintains vertical spacing */
    box-shadow: 0 0 8px #ccc;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 10px;
}

