body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            font-family: Arial, sans-serif;
        }

        .message {
            font-size: 24px;
            margin-bottom: 20px;
        }

        img {
            /* Set the maximum width of the image to 30% of the viewport width */
            max-width: 30%;
            height: auto; /* This will maintain the aspect ratio of the image */
        }


        button {
            font-size: 20px;
            padding: 10px 20px;
            background-color: #7c7c7c; /* Fun green color */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px; /* Space above the button */
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #3a3a3a; /* Slightly darker green on hover */
        }